.navbar-nav {
  font-size: 18px;
  padding: 20px;
  color: black;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
.card {
  display: inline-block;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.div1 {
  position: relative;
  left: 12vw;
}
.div2 {
  position: relative;
  left: 12.5vw;
}
.div3,
.div5 {
  position: relative;
  top: 37vh;
  right: 24vw;
}

img {
  border-radius: 16px;
}
.hed1 {
  position: relative;
  bottom: 74vh;
  left: 12vw;
  color: white;
}
.sub-hed1 {
  position: relative;
  bottom: 50vh;
  left: 2.6vw;
  color: white;
}
.sub-hed2 {
  position: relative;
  bottom: 18vh;
  left: 17vw;
  color: white;
}
.hed2 {
  position: relative;
  bottom: 30vh;
  color: white;
}
.sub-hed3 {
  position: relative;
  bottom: 25vh;
  left: 2vw;
  width: 33vw;
  text-align: center;
  color: white;
}
.hed3 {
  position: relative;
  bottom: 40vh;
  color: white;
}
.sub-hed4 {
  position: relative;
  bottom: 12vh;
  left: 7vw;
  color: white;
}

.sub-hed2:hover {
  border: 2px solid black;
  background-color: black;
  border-radius: 20px;
  padding: 10px 25px;
  transition: 0.5s ease-in-out;
}
h5 {
  text-align: center;
}
.card-img-top:hover {
  transform: scale(1.04);
  transition: 0.5s ease-in-out;
}
.position {
  position: relative;
  bottom: 35px;
  right: 25px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 10px;
  background-color: #8cc63f;
  color: white;
}
.hed {
  text-align: center;

}
.container2 {
  gap: 70px;
  display: grid;
  grid-template-columns: 145px 147px 147px 147px;
  grid-template-rows: 100px 100px 100px;
  justify-content: space-around;
  margin-bottom: 20vh;
  position: relative;
  bottom: 10vh;
}
.item-10 {
  grid-row: 2 / 4;
  height: 320px;
  width: 234px;
}

.item-20 {
  grid-row: 2;
  height: 250px;
  width: 234px;
  position: relative;
  bottom: 88px;
}

.item-30 {
  grid-row: 3;
  height: 250px;
  width: 234px;
  position: relative;
  top: 13px;
}

.item-40 {
  grid-row: 2;
  height: 396px;
  width: 234px;
  position: relative;
  bottom: 35px;
}

.item-50 {
  grid-row: 2;
  height: 250px;
  width: 234px;
  position: relative;
  bottom: 88px;
}

.item-60 {
  grid-row: 3;
  grid-column: 4;
  height: 250px;
  width: 234px;
  position: relative;
  top: 13px;
}

.item-70 {
  grid-row: 2 / 4;
  height: 320px;
  width: 234px;
}
footer {
  background-color: #eee;
  padding: 60px 0;
}
footer h5 {
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  right: 5vw;
  text-align: center;
  margin-bottom: 20px;
  color: #222;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #222;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 0.95rem;
}
footer ul li a:hover {
  color: #000;
  text-decoration: underline;
}
.newsletter input {
  border-radius: 0;
  border: 1px solid #ccc;
  height: 50px;
  padding: 10px 15px;
}
.newsletter button {
  border-radius: 0;
  height: 50px;
  background-color: #222;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 0 25px;
  transition: all 0.2s;
}
.newsletter button:hover {
  background-color: #000;
}
.newsletter p {
  font-size: 0.9rem;
  color: #444;
}
